@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao&display=swap');
* {
    box-sizing: border-box;  
}

body{
    margin: 0;
    font-family: 'Noto Sans Lao', sans-serif;
    font-size: 0.9rem;
}
a{
    text-decoration: none;
}